
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%;
 width: 100vw;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 background-color: lightgray;
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px;
}



.inputs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
    .location {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        div {
            font-size: 1rem;
        }
        input {
            max-width: 300px;
            min-width: 200px;
            width: 25%;
            height: 2rem;
            padding: .5rem;
            border: none;
            border-radius: 3px;
        }
        button {
            background-color: darkcyan;
            border: none;
            border-radius: 3px;
            color: white;
        }
    }
}


#submit {
    width: 100px;
    height: 32px;
    margin: 10px;
}

.content {
    height: 90%;
    h3 {
        color: rgb(253, 190, 0);
        font-size: 1.5rem;
    }
    #three-day-forecast__max-temp3,
    #three-day-forecast__max-temp2,
    #three-day-forecast__max-temp1 
    {
        font-size: 2.25rem;
        font-weight: 700;
    }
    .current-forecast {
        width: inherit;
        height: 30%;
        // border: 1px solid red;
        display: flex;
        padding: 1rem;
        &__temp {
            color: darkcyan;
            width: 50%;
            font-size: 1.5rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-top: 1.25rem;
          
            align-items: center;
            p {
                color: black;
                font-size: 1.25rem;
            }
            #currTemp {
                font-weight: 700;
                font-size: 4rem;
            }
        }

        &__conditions {
            color: darkcyan;
            padding-top: 1.25rem;
            width: 50%;
            font-size: 1.5rem;
            height: 100%;
            display: flex;
            flex-direction: column;
          
            align-items: center;
            p {
                color: black;
                font-size: 1.25rem;
            }
            #currTemp {
                font-weight: 700;
                font-size: 2.5rem;
            }
        }
    }
}



.three-day-forecast {
    width: inherit;
    min-height: 65%;
    // border: 1px solid black;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__day {
        height: 80%;
        width: 30%;
        background-color: darkcyan;
        padding: 1rem;
        margin-bottom: 1rem;
        .tdf-stat-wrapper {
            display: flex;
            width: 100%;
            justify-content: space-around;
            padding-right: 1rem;
        } 
        h2 {
            font-size: 2rem;
            color: white;
            text-align: center;
            text-decoration: underline;
        }
    }

    
}
@media screen and (max-width: 1200px) {
    .content {
        flex-direction: column;
    }
    .three-day-forecast {
        flex-direction: column;
        &__day { 
            width: 95%;
            height: auto;
        }
    }
    .current-forecast { 
        flex-direction: column;
        width: 100%;
        min-height: 40%;

        &__temp { 
            min-width: 100%;
            height: auto;
        }
        &__conditions { 
            min-width: 100%;
            min-height: auto;
        }
    }

}

